@cyan: rgba(0, 255, 255, 1);
@royal-blue: rgba(48, 82, 222, 1);
@turqoise: rgba(0, 255, 239, 1);



@emerald: rgba(80, 200, 120, 1);
@cherry: rgba(210, 10, 46, 1);
@linen: rgba(250, 240, 230, 1);

@dark-cyan: darken(@cyan, 10%);
@dark-royal: darken(@royal-blue, 10%);
@dark-turoquoise: darken(@turquise, 10%);
@dark-emerald: darken(@emerald, 10%);
@dark-cherry: darken(@cherry, 10% );
@dark-linen: darken(@linen, 10%)

@primary: #326dee;
@secondary: #1ac888;
@error: #d32752;

