
.h(@h){ height @h; };
.w(@w) { width @w; };
.vh(@vh) { height: @vh };
.vw(@vw) { width: @vw };
.size(@s) { width: @s; height: @s; };

.max-h { .h(100%);
.max-w { .w(100%);
.max-size   { .size(100%)};

.transparent() { background: transparent; };

.hover-bg(@color) { & :hover { background-color: @color; } }
.hover-color(@color) { & :hover { color: @color; } };
.hover-border(@color) { & :hover { border-color: @color } };


