<html lang="en">
  <head>
    <title>Chat App</title>       

    <!--- STYLESHEETS ---->
    <link rel="stylesheet/css" type="text/css" href="style/app.css">
  </head>
  <body>
    <div id="layout" class="layout">
      <header id="layout--header"></header>
      {{{ body }}}
      <footer id="layout--footer"></footer>
    </div>
    <!--- LIBRARIES --->
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

    <!--- SCRIPTS --->
    <script src="/js/main.js"></script>
  </body> 
</html>
