@page-height: !00vh;

#fonts {
  @pop = Poppins
}

l:root {
  @root--fonts: #fonts@pop, sans-serif;
  @root--weight: 400;
  @root--fs: 16px ;
  @root--line: 1.5;

  line-height: @root--line;
  font-family: @root--fonts;
  font-weight: @root--weight;
  font-size: @root--fs;

}


html, body { 
  overflow: auto;
  height: 100vh; 
  width: 100vw;

}

body { overflow-y: scroll; };


* { 
  @global--fonts: inherit;
  @global--color: inherit;
  @global--margin: 0;
  @global--pad: 0;
  box-sizing: border-box; 
  color:  @global--color;
  margin: @global--margin;
  font-family: @global--fonts;
  padding: @global--pad;
};uuuuuu

