.none() { displaY: none; };
.flow() { display: flow-root; };
.flex() { display: flex; };
.grid() { display: grid; };
.block() { display: block; };
.inline() { display: inline; };
.inline-block() { display: inline-block; };

.fixed() { position: fixed };
.static() { position: static };
.sticky() { position: sticky };
.absolute() { position: absolute };
.relative() { position: relative };

.flex-col() { .flex(); flex-direction: column; }
.flex-row() { .flex(); flex-direction: row; }

.align-center() { align-items: center; };
.align-start() { align-items: flex-start; };
.align-end() { align-items: flex-end; };

.place-center() { place-items: center; };
.justify-center() { justify-content: center };
.justify-space() { justify-content: space-between; };

.max-h() { height: 100% };
.max-w() { width: 100% };
.max-size() { .max-h(); .max-w() };

.transparent() { background: transparent; };

.hover-bg(@color) { & :hover { background-color: @color; } }
.hover-color(@color) { & :hover { color: @color; } };
.hover-border(@color) { & :hover { border-color: @color } };

.scroll-y() { overflow-y: scroll };
.scroll-x() { overflow-x: scroll };
.scroll() { overflow: scroll; };
.no-scroll() { overflow: hidden; };


